/* Dark mode colors. */
:root {
  --sl-color-accent-low: #112827;
  --sl-color-accent: #0c7a75;
  --sl-color-accent-high: #b4cfcd;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #c7dcda;
  --sl-color-accent: #097974;
  --sl-color-accent-high: #123937;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

.social-icons {
  font-size: 20px;
}

main strong {
  color: var(--sl-color-accent);
}

main code:not(:has(div)) {
  background-color: var(--sl-color-accent-low);
  border-radius: 3px;
  color: var(--sl-color-accent-high);
}
